.App {
  text-align: center;
}
header {
  background-color: #002e5d;
  color: white;
  font-family: var(--headlineFont),HCo Ringside Narrow SSm,Open Sans,Helvetica,Arial,sans-serif;
}

body {
  color: #002e5d;
  background-color: white;
  font-weight: 400;
  line-height: 1.6;
}
/* footer {
  background-color: #002e5d;
  color: white;
} */